@use '../../partials/globals';
@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;

.modal{
	pointer-events: none;
	position: fixed;
	padding: 1rem;
	z-index: 20000;
	top:0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.3);
	transition: all 500ms ease-in-out;
	&--close{
		visibility: hidden;
	}
	&__container{
		transition: all 500ms ease-in-out;
		pointer-events: all;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
		background-color: $yellow;
		padding: 1rem;
		margin-top: 3rem;
		&--close{
			transform: translateY(-40rem);
		}

	}
	&__logo{
		margin: 0;
		width: 5rem;
		height: 5rem;
		align-self: center;
		background-image: url('../../images/bigMacc.png');
		background-position: center;
		background-size: 5rem;

	}
	&__close{
		margin: 0;
		align-self: flex-end;
		width: 2rem;
		height: 2rem;
		background-image: url('../../images/close_black_24dp.svg');
		background-position: center;
		background-size: 2rem;
	}
	&__socials{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&__icon{
		margin: 0;
		width: 5rem;
		height: 5rem;
		background-repeat: no-repeat;
		background-image: url('../../images/tiktok.png');
		background-position: center;
		background-size: 2rem;
		&--i{
			background-image: url('../../images/insta.png');
			background-size: 2rem;

		}
		&--f{
			background-image: url('../../images/face.png');
			background-size: 1rem;
		}

	}
	
}
