@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;

.hd{
	background-color: $white;
	margin: 0;
	&__container{
		margin: 0;
		display:flex;
		justify-content: center;
		align-items: center;
		height: auto;
		width: 100%;
		background-color: $white;
		padding: 1rem;
		border-bottom: 1px solid lightgray;
		@include tablet{
			padding: 1rem 2.5rem;
			max-width: 1080px;
		}
		@include desktop{
			max-width: 1280px;
		}
	}
	&__logo{
		cursor: pointer;
		margin: 0;
		background-image: url("../../images/McDonald\'s_Golden_Arches.svg");
		background-size: 3rem;
		background-repeat: no-repeat;
		background-position: center;
		height: 3rem;
		width: 3rem;
	}
	

}


