@font-face{
	font-family:'helveltica-nue';
	src: url('../fonts/neue-helvetica-cufonfonts-webfont/Helvetica\ Neue\ LT\ 45\ Light.woff');
	font-weight: 400;
}
@font-face{
	font-family:'helveltica-nueDemi';
	src: url('../fonts/HelveticaNeue-Black.otf');
	font-weight: 600;
}
@font-face{
	font-family:'helveltica-nueBold';
	src: url('../fonts/HelveticaNeue-Black.otf');
	font-weight: 700;
}

