
.heroL{
	height: 300px;
	display:flex;
	justify-content: center;
	&__container{
		text-align: left;
		padding: 1rem;
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		position: absolute;
		top: 5rem;
	}
	&__title{
		margin: 0;
	}
	&__msg-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__emoji{
		margin-left: 0.5rem;
		width: 3rem;
	}
	&__username{
		text-align: bottom;
		margin: 0;
	}


}
