@use '../../partials/globals';
@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;

.offers{
	padding:1rem;
	transform: translateY(-6rem);
	&__reward-section{
	}
	&__top-container{
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
	&__reward-title{

	}
	&__link{
		cursor: pointer;
		color:#0071CE;
		text-decoration: none;
		&:hover{
			color:rgba(0, 113, 206, 0.60)
		}
	}
	&__reward-container{
		width: 100%;
		height: 10rem;
		border-radius: 10px;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);

	}
	&__game{
		border-radius: 10px;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
		margin-top: 1.5rem;
		padding: 1rem;
	}
	&__game-title{

	}
		text-align: left;
	&__game-text{
		color: #787878;
		text-align: left;
	}
	&__btn-container{
		display:flex;
		align-items: center;

	}
	&__btn{
		text-decoration: none;
		background-color: $yellow;
		color: $black;
		max-height: 3rem;
		margin-right: 1rem; 
		width: 8rem;
		padding: 1rem 1.5rem;
		align-self: flex-end;
		white-space: nowrap;
	}
	&__fries{
		margin: 0;
		width: 6rem;
		height: 10rem;
		background-image: url('../../images/fries.png');
		background-size: 6rem;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 1rem;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
	}
	&__logo{
		margin: 0;
		width: 6rem;
		height: 10rem;
		background-image: url('../../images/McDonald\'s_Golden_Arches.svg');
		background-size: 3rem;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
	}


}
